/* Import Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Ensure main content does not scroll */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles for layout */
.App-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 240px; /* Width of the sidebar */
}

.sidebar {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  height: 100%; /* Ensure main content takes up full height */
  display: grid;
  grid-template-rows: auto auto auto 1fr; /* TopNavbar, TabButtons, PageDescription, card-container */
  gap: 20px; /* Space between components */
}

.TopNavbar {
  height: 60px; /* Height of TopNavbar */
}

.TabButtons {
  height: 40px; /* Height of TabButtons */
}

.PageDescription {
  height: 100px; /* Height of PageDescription */
}

.card-container {
  overflow-y: auto; /* Ensure CardContainer is scrollable */
  border-radius: 0.25rem;
  padding: 20px;
  width: 100%; /* Ensure it takes up full width */
  max-height: calc(88vh - 220px); /* Adjust height to fill remaining space (60px for TopNavbar + 40px for TabButtons + 100px for PageDescription + 20px margin) */
  margin-bottom: 20px; /* Add margin at the bottom */
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: static;
    margin-bottom: 20px;
  }

  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .card-container {
    max-height: calc(100vh - 240px); /* Adjust height for smaller screens */
  }
}
